In [1]:
import pandas as pd
import numpy as np

In [2]:
g_7 = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])

In [3]:
g_7

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [4]:
g_7.name = "G7 Population in Millions"

In [5]:
g_7

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in Millions, dtype: float64

In [11]:
g_7.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [12]:
type(g_7.values)

numpy.ndarray

In [13]:
g_7.index

RangeIndex(start=0, stop=7, step=1)

In [4]:
g_7.index = [
     'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [14]:
g_7

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in Millions, dtype: float64

In [5]:
g_7.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [16]:
g_7.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [6]:
g_7

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
dtype: float64

In [18]:
g_7['Canada']

35.467

In [7]:
g_7.iloc[0]

35.467

In [8]:
g_7.iloc[[0,1]]

Canada    35.467
France    63.951
dtype: float64

In [9]:
g_7 > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
dtype: bool

In [10]:
g_7[g_7 > 70]

Germany           80.940
Japan            127.061
United States    318.523
dtype: float64

In [11]:
g_7.mean()

107.30257142857144

In [12]:
g_7[g_7 > g_7.mean()]

Japan            127.061
United States    318.523
dtype: float64

In [15]:
g_7[~(g_7 > g_7.mean())]

Canada            35.467
France            63.951
Germany           80.940
Italy             60.665
United Kingdom    64.511
dtype: float64

In [16]:
g_7 * 1_000_000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
dtype: float64

In [17]:
g_7['Canada':'Italy'].mean()

60.25575

In [18]:
g_7.iloc[-1]

318.523

In [19]:
print(pd.__version__)

0.23.4

In [20]:
pd.Series()

Series([], dtype: float64)

In [22]:
X = ['a','b','c','d']
print(X)

Y = pd.Series(X)
print(Y)

['a', 'b', 'c', 'd']
0    a
1    b
2    c
3    d
dtype: object

In [23]:
X = pd.Series(['A','B','C'])

In [24]:
X.name='my series list'

In [25]:
X

0    A
1    B
2    C
Name: my series list, dtype: object

In [26]:
X.values

array(['A', 'B', 'C'], dtype=object)

In [27]:
index_names = ['a','b','c']

In [28]:
X.index = index_names

In [29]:
X

a    A
b    B
c    C
Name: my series list, dtype: object

In [30]:
X.iloc[1]

'B'

In [31]:
X.iloc[0]

'A'

In [32]:
X[::-1]

c    C
b    B
a    A
Name: my series list, dtype: object

In [34]:
X[[0,-1]]

a    A
c    C
Name: my series list, dtype: object

In [35]:
X = pd.Series([4,2,5,1,3],
              index=['fourth','second','fifth','first','third'])

In [36]:
X[::-1]

third     3
first     1
fifth     5
second    2
fourth    4
dtype: int64

In [37]:
X.sort_values()

first     1
second    2
third     3
fourth    4
fifth     5
dtype: int64

In [38]:
X[1:-1]

second    2
fifth     5
first     1
dtype: int64

In [39]:
X+5

fourth     9
second     7
fifth     10
first      6
third      8
dtype: int64

In [40]:

X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

In [41]:
mask = X <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

In [42]:

mask = X > 5
X[mask]

5     6
9    10
dtype: int64

In [43]:
X.all()

False

In [44]:
X.any()

True

In [45]:
X.mean()

0.9

In [46]:
X.max()

10

In [47]:
X.min()

-9